[submodule "c-cpp/external/benchmark"]
	path = c-cpp/external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "c-cpp/external/googletest"]
	path = c-cpp/external/googletest
	url = https://github.com/google/googletest.git
[submodule "c-cpp/external/ctrack"]
	path = c-cpp/external/ctrack
	url = https://github.com/Compaile/ctrack.git
